/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

#pageFooter {
  border-top: solid 1px #CCCCCC; text-align: center;
  clear: both;
}

h2 {background-color: #FFFFCC; border-bottom: dashed 3px #555555}

#sidebar {
  width: 220px; float: right;
}


h1 {background-color: #4169e1;color:#ffa500;}
